@model Passion.Areas.Admin.ViewModels.MasterHowWeWorkViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row mb-3">
    <div class="col-12">
        <div class="text-start">
            <h1 class="fw-bolder">New HowWeWrok</h1>
        </div>
    </div>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="MasterHowWeWorkId" class="form-control" type="hidden" value="0" />
    <div class="row m-0">
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterHowWeWorkIcon" class="form-label"></label>
                <input asp-for="MasterHowWeWorkIcon" class="form-control" placeholder="Enter Icon" />
                <span asp-validation-for="MasterHowWeWorkIcon" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterHowWeWorkTitle" class="form-label"></label>
                <input asp-for="MasterHowWeWorkTitle" class="form-control" placeholder="Enter Title" />
                <span asp-validation-for="MasterHowWeWorkTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterHowWeWorkBreef" class="form-label"></label>
                <input asp-for="MasterHowWeWorkBreef" class="form-control" placeholder="Enter Breef" />
                <span asp-validation-for="MasterHowWeWorkBreef" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="form-group">
                <label asp-for="MasterHowWeWorkDescription" class="form-label"></label>
                <textarea asp-for="MasterHowWeWorkDescription" class="form-control" rows="4" placeholder="Enter Description"></textarea>
                <span asp-validation-for="MasterHowWeWorkDescription" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-end m-3">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</form>
